@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	*,
	body {
		font-family: 'Inter', sans-serif;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}
@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer components {
	.form-label {
		@apply font-inter text-sm font-normal text-primary-black;
	}

	.form-input {
		@apply block w-full rounded-md px-4 py-2.5 text-black ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6;
	}

	.form-input:focus {
		@apply outline-none ring-2 ring-inset ring-[#FFACA7];
	}

	.form-input-error {
		@apply ring-2 ring-inset ring-red-500;
	}

	.form-error {
		@apply text-sm text-red-500;
	}

	.form-control {
		@apply space-y-2;
	}
	.form-section {
		@apply flex w-full flex-col gap-4;
	}

	.btn {
		@apply w-full rounded-full bg-primary p-3 text-center text-sm text-white;
	}

	.btn:hover {
		@apply bg-[#BF3128];
	}

	.btn:focus {
		@apply outline-none ring-4 ring-inset ring-[#FFACA7];
	}
	.password-reveal-btn {
		@apply text-border absolute right-0 top-1 z-10 flex w-max cursor-pointer items-center p-2;
	}
}
